eval $(guix shell ruby@3 libffi gcc-toolchain --search-paths)

# GEMS 
export GEM_HOME="$PWD/.local/gem"
export PATH="$GEM_HOME/bin:$PATH"

# Enable this to fix the 'SSL_connect' error.
# export SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
